script(src="js/jquery.min.js" )
script(src="js/bootstrap.min.js" )
script(src="js/angular.min.js" )
script(src="js/angular-animate.min.js" type='text/javascript')
script(src="js/angular-aria.min.js" type='text/javascript')
script(src="js/angular-messages.min.js" type='text/javascript')
script(src="js/angular-material.min.js" type='text/javascript')
script(src="js/angular-ui-router.js")
script(src='js/controllers/app.js')
script(src='js/moment.min.js')
script(src='js/custom.js')
