.wtb-landing-page
  .first-view
    .search-bar.sticky-search-bar#search-bar
      md-input-container.md-block(md-no-float='')
        input(ng-model='user.address', type='text', placeholder='Address')
        md-icon
          .material-icons 
            | &#xE8B6;
    #sticky-anchor
    nav.navbar.navbar-default.navbar-bottom#sticky-navbar
      .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') What The Bus
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') About us
              li
                a(href='#') Contact us
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Dropdown 
                  span.caret  
                ul.dropdown-menu
                  li
                    a(href='#') Login 
                  li.divider(role='separator')    
                  li
                    a(href='#') Signup 
  
  .second-view
  .third-view
