.row
	.col-md-2
		h4 Search for the Bus
	.col-md-2
		input.button-size(type='date', name='date', ng-model='selectedDate')
	.col-md-2
		select.button-size(ng-model='from', ng-options='item.name for item in data')
				option(value='') From
	.col-md-2
		select.button-size(ng-model='to', ng-options='item.name for item in data')
				option(value='') To
	.col-md-2
		select.button-size(ng-model='selectedTicketNo', ng-options='item for item in noOfTickets')
				option(value='') No Of Tickets
	.col-md-1
		input.button-size(type='submit', ng-click='searchBus()', ui-sref='searchResult')