.table-listed
	table(width="1000px")
		tr
			th.pointer Id
			th.pointer Operator Name
			th.pointer Arrival Date
			th.pointer Arrival Time
			th.pointer From
				th.pointer Duration
				th.pointer To
				th.pointer Depart Time
				th.pointer Depart Date
				tr.black(ng-repeat='item in searchData')
					td {{item.id}}
					td {{item.operatorName}}
					td {{item.arrivalDate}}
					td {{item.arrivalTime}}
					td {{item.fromCity}}
					td {{item.duration}}
					td {{item.toCity}}
					td {{item.departTime}}
					td {{item.departDate}}
	.spacer
	input.button-size(type='submit', ng-click='fetchSearchPage()', value='go back')