@mixin responsive-background-mixin(){

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  margin: 0 auto;
}
.wtb-landing-page{
  .first-view{
    width: 100vw;
    height: 100vh;
    background-color: teal;
    background-image:url(/images/bg.jpg);
    @include responsive-background-mixin();
    position: relative;

    .search-bar{
      width: 67vw;
      height: 50px;
      position: absolute;
      left: 10vw;
      bottom: 0;
      z-index: 1013;
       md-input-container{
        margin: 8px 10px;
        *{
          color: #777;
        }
      }
    }
    .sticky-search-bar{
      position: fixed;
      top: 45%;
      left: 20vw;
      width: 60vw;
      background-color: rgba(0,0,0,0.6);
      *{
        color: #fff;
      }
    }
    .search-bar-fixed-top{
      position: fixed;
      left: 10vw;
      top: 0;
      z-index: 1033;
    }
    #sticky-anchor{
      position: absolute;
      bottom: 65px;
    }
    .navbar-bottom{
      position: absolute;
      bottom: -20px;
      right: 0;
      left: 0;
      border-radius: 0;
    }
  }
  .second-view, .third-view{
    width: 100vw;
    height: 100vh;
    background-color: teal;
  }
  .third-view{
    background-color: #4DB6AC ;
  }
}
