* {
  margin: 0 auto; }

.wtb-landing-page .first-view {
  width: 100vw;
  height: 100vh;
  background-color: teal;
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .wtb-landing-page .first-view .search-bar {
    width: 67vw;
    height: 50px;
    position: absolute;
    left: 10vw;
    bottom: 0;
    z-index: 1013; }
    .wtb-landing-page .first-view .search-bar md-input-container {
      margin: 8px 10px; }
      .wtb-landing-page .first-view .search-bar md-input-container * {
        color: #777; }
  .wtb-landing-page .first-view .sticky-search-bar {
    position: fixed;
    top: 45%;
    left: 20vw;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.6); }
    .wtb-landing-page .first-view .sticky-search-bar * {
      color: #fff; }
  .wtb-landing-page .first-view .search-bar-fixed-top {
    position: fixed;
    left: 10vw;
    top: 0;
    z-index: 1033; }
  .wtb-landing-page .first-view #sticky-anchor {
    position: absolute;
    bottom: 65px; }
  .wtb-landing-page .first-view .navbar-bottom {
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    border-radius: 0; }

.wtb-landing-page .second-view, .wtb-landing-page .third-view {
  width: 100vw;
  height: 100vh;
  background-color: teal; }

.wtb-landing-page .third-view {
  background-color: #4DB6AC; }
